.border{
    border-style: groove;
    background-color:#0a649d;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    
}
.but{
    background-color: orange;
    color: black;
}

.PageHeading{
    text-align: center;
}

.ip
{
    position: relative;
    left: 55px;
}