
  image{
    width: 300px;
    height: 350px;
    border-radius: 50%;
    
  }
  #mutitle{
      text-align: center;
  }
  .mutitle{
    background-color: #447bc9;
  }
  .insure{
    text-align: left;
  }
  .card-title{
    text-align: center;
  }
  .info{
    border-style: groove;
    
  }