.Claim1{
    background-color: white;
    height: 500px;
}
.phone{
    font-size: 53px;
}
.Phone{
    text-align: center;
}
.Email{
    text-align: center;
}
.Email-title{
    font-size: 55px;
}
.shape{
    border-radius: 50%;
}
.heading{
    text-align: center;
}