.enquiry1{
    width: 600px;
    height: 400px;
    border-style: groove;
    border-radius: 5%;
    background-color: orange;
    
    
}
.enquiry{
    background-color: rgb(33, 71, 161);
    height: 600px;
}


