.foot{
    background-color: #0a649d;
}
/* .footer-place{
    position: fixed;
} */
.font{
    font-size: 30px;
<<<<<<< HEAD
}
.foot1{
    color: white;
}
.foot1:hover{
   color: black;
=======
>>>>>>> 2d463311fec6081dd1dd318faa7ede9915a812e5
}