.Home1{   
    height: 500px; 
}
.color{
    color: black;
}
.Home3{
    border-radius: 80%;
    height: 350px;
}
.Home5{
    text-align: center;
}
.Home2{
    background-color:  orange;
}
.types{
    text-align: center;
}
.types1{
    text-align: center;
}
.home4{
    height: 500px;
}