.img1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.rev1{
    background-color: #c3c4c7;
    transition: 0.5s;
    border-color: transparent;
}
.rev1:hover{
    background-color: #ecc49a;
    transform: scale(1.05);
}
.rev2{
    background-color: #5cb4db;
    height: 500px;
}