
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar styling colour change */
.navbar{
  background-color: #0a649d;
}
/* Navbar items to right */
/* .nav-item{
  margin-right: 70px;
} */
/* .navbar-nav{
  margin-left: 800px;
} */
/*carousel image styling*/
.pic 
{
  width: 100%;
  height: 500px;
  padding: 5%;
}
/* entire row colour change */
.caro{
  background-color: orange;
}
/* carousel row styling */
.caro1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  padding: 20%;
  color: rgb(33, 71, 161);
}


.login1{
  border-radius: 5px;
  width: 300px;
  height: 350px;
  background-color:  #0a649d;

}
.login{
  background-color: white;
  height: 500px;
}
.success{
  text-align: center;
}

.register1{
  background-color: white;
  height: 550px;
}
.card-body.reg{
  background-color:  #0a649d;
  border-radius: 5px;
  width: 400px;
  height: 500px;
}




